* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h2 {
  font-size: 2em;
  margin: 52px 0 40px;
  text-transform: capitalize;
  color: #051c33;
}

h1 {
  font-family: "Lobster", "Josefin Sans", Helvetica, Arial, sans-serif;
  font-size: 4em;
  color: #051c33;
}

body {
  text-align: center;
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  color: #3f4850;
}
